/* SCSS HEX */
$brandeis-blue: #1b73e8ff;
$bright-pink-crayola: #ff6d7eff;
$onyx: #3c4043ff;
$alice-blue: #f1f6ffff;
$white: #ffffffff;
/* SCSS HEX End */

/* Sizes */
$size-header-height: 120px;
$size-screen-xl: 1400px;
/* Sizes End */