<section class="about">
    <div class="about-container">
        <h2 class="about-title">Hello,</h2>
        <p class="about-paragraph">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit aperiam quidem accusamus doloribus modi labore! Vel sit labore, officia cupiditate quae in alias ex quas natus, eum nihil nulla molestiae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum modi quas quos voluptatum assumenda dicta sunt adipisci quasi alias. Magni repudiandae veritatis molestias inventore fuga quos temporibus commodi, impedit nulla!
        </p>
        <div class="about-links">
            <div class="about-link" href="#">LinkedIn -></div>
            <div class="about-link" href="#">GitHub -></div>
            <div class="about-link" href="#">Email -></div>
        </div>
    </div>
</section>