<section class="blog">
    <div class="blog-container">
        <h2 class="blog-title">Blog</h2>
            <div class="blog-items">
                <a class="blog-item" href="#">Blog post title ->lorem</a>
                <a class="blog-item" href="#">Blog post title ->lorem</a>
                <a class="blog-item" href="#">Blog post title ->lorem</a>
                <a class="blog-item" href="#">Blog post title ->lorem</a>
                <a class="blog-item" href="#">Blog post title ->lorem</a>
                <a class="blog-item" href="#">Blog post title ->lorem</a>
            </div>
    </div>
</section>